.footer {
    min-height: 150px;
    background-color: $red;
    border-radius: 50px 50px 0 0;
    color: $white;
    .footerContainer { 
        max-width: 100%;
        margin: 0 auto;
        
        i {
            padding-right: 8px;
        }
            .top {
                max-width: 70%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                padding: 30px 0 30px 0;

                a {
                    font-size: 1.5rem;
                    padding-right: 200px;
                    text-decoration: none;
                    color: $white;
                }
                .links {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    a { 
                        font-size: 1rem;
                        position: relative;
                        margin: 0 20px;
                        padding: 0;
                        text-decoration: none;
                        color: $white;

                        &::after {
                            position: absolute;
                            content: '';
                            width: 0%;
                            height: 2px;
                            background-color: var(--text-color);
                            border-radius: 20px;
                            bottom: -5px;
                            left: 0;
                            transition: 0.3s ease-in-out;
                        }
                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            } // top
            .bottom {
                max-width: 70%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                p {
                    margin-right: 150px;
                }
                .linked {
                    padding: 0;
                }
                #linked {
                    border: none;
                    padding: 0;
                    margin: 0;
                    transition: 0.3s ease;
                    font-size: 1.4rem;
                    &:hover {
                        background: none;
                        color: $white;
                        transform: scale(1.2);
                    }
                }
                a {
                    position: relative;
                    margin-right: 150px;
                    text-decoration: none;
                    color: $white;    

                    &::after {
                        position: absolute;
                        content: '';
                        width: 0%; 
                        height: 2px;
                        background-color: var(--text-color);
                        border-radius: 20px;
                        bottom: -5px;
                        left: 0;
                        transition: 0.3s ease-in-out;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                }
                
            } // bottom
            .copyright {
                padding: 30px 0 40px;
                max-width: 70%;
                margin: 0 auto;
            } // copyright
        }
    
}