.homePageStage {
    .homePageStageContainer {
        text-align: justify;
        .header {
            max-width: 80%;
            margin: auto;
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;

            .logo {
                font-family: $font3;
                color: var(--text-color);
                span {
                    color: $red;
                }
            }
            #theme-switch {
                background: rgba(128, 128, 128, 0.33);
                border-radius: 50%;
                height: 50px;
                width: 50px;
                padding: 0;
                border: none;
                color: white;
                
                font-size: 1.8rem;
                cursor: pointer;
                i {
                    transition: 0.7s ease-in-out;
                    &:hover {
                        transform: rotateZ(360deg);
                    }
                }
            }
        }
        .main {
            max-width: 1200px;
            margin: 0 auto;
            .mainContainer {
                .resume {
                    margin: 40px;
                }
                .top, .bottom{
                    display: grid;
                    grid-template-columns: 60% 40%;
                    .img-stage {
                        img {
                            width: 100%;
                            border-radius: 20px;
                        }
                        margin-right: 20px;
                    }
                    .text {
                        margin-left: 20px;
                        text-align: justify;
                    }
                }
                .bottom {
                    grid-template-columns: 40% 60%;
                    margin-top: 40px;
                    .img-stage {
                        img {
                            width: 100%;
                            border-radius: 20px;
                        }
                        margin-left: 20px;
                    }
                    .text {
                        margin-right: 20px;
                        text-align: justify;
                    }
                }
                img {
                    width: 100%;
                    border-radius: 20px;
                }
                .center {
                    .img-mid {
                        img {
                            width: 100%;
                            border-radius: 20px;
                        }
                    }
                }
                
            }
        }
    }
}