.homePage {
    .homePageContainer {

        .header {
            max-width: 80%;
            margin: auto;
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;

            .logo {
                font-family: $font3;
                color: var(--text-color);
                span {
                    color: $red;
                }
            }
            #theme-switch {
                background: rgba(128, 128, 128, 0.33);
                border-radius: 50%;
                height: 50px;
                width: 50px;
                padding: 0;
                border: none;
                color: white;
                
                font-size: 1.8rem;
                cursor: pointer;
                i {
                    transition: 0.7s ease-in-out;
                    &:hover {
                        transform: rotateZ(360deg);
                    }
                }
            }
        }

        .about {
            margin: 20px auto;
            max-width: 1200px;
            font-size: 1.3rem;
            .aboutContainer {
                .me {
                    text-align: center;
                    h2 {
                    text-align: center;
                    font-weight: 100;
                    }
                    .prenom {
                        margin: 10px 0 0 0;
                        font-size: 2.2rem;
                        font-weight: bold;
                    } // prenom
                    .title {
                        margin: 10px auto 30px;
                    }
                    span {
                        color: $red;
                    }
                } // me
                .info {
                    display: grid;
                    grid-template-columns: 50% 50%;

                    .text {
                        display: flex;
                        align-content: space-between;
                        flex-wrap: wrap;
                        font-size: 1.2rem;
                        text-align: justify;
                        margin: 10px;

                     a {  
                        font-weight: bold;
                        background-color: $red;
                        border: 2px solid $red;
                        padding: 15px 20px;
                        margin-bottom: 6px;
                        border-radius: 10px;
                        text-decoration: none;
                        color: $white;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            background: none;
                            transform: scale(1.1);
                        }
                     }
                    }
                    img {
                        margin:  10px;
                        width: 80%;
                        border-radius: 10px;
                    } // img
                } // info
                .bts {
                    text-align: justify;
                    .description {
                        
                        h3 {
                            padding-bottom: 10px;
                        }
                        p {
                            padding: 20px 0;
                    
                        }
                    }
                    .options {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        #slash {
                            color: $red;
                        }
                        .dividerdesc {
                            margin: 10px 0;
                            height: 3px;
                            width: 50px;
                            background: $red;
                            border-radius: 20px;
                        }
                        .slam {
                            padding: 0 0 0 10px;

                            &::after {
                                content: "";
                                background: $red;

                            }
                        }
                        .sisr {
                            padding: 0 10px 0 0;
                        }
                    }
                }
            } // aboutContainer
        } // about

        .skills {
            max-width: 1200px;
            margin: auto;

            .skillsContainer {
                display: grid;
                grid-template-columns: repeat(3, 1fr); /* Limite à trois colonnes */
                gap: 10px; /* Espace entre les cartes */
                text-align: center;
                font-size: 5rem;
                color: var(--text-color);

                .skillsElement {
                    position: relative;
                    &:hover {
                        border-radius: 10px;
                        background-color: var(--bgskills-color);
                    }
                    .text {
                        margin: 0 auto;
                        width: 90%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p {
                            margin-bottom: 25px;
                            font-size: 1rem;
                            color: var(--text-color);
                        }  
                    }
                    
                    .skillbar {
                        width: 90%;
                        height: 10px;
                        background-color: $white;
                        border-radius: 10px;
                        margin: 0 auto 10px;
                        .skillbarcolor{
                            height: 10px;
                            border-radius: 10px;
                            background-color: $red;
                        }
                    }
                } // skillsElement
            } // skillsContainer
        } // skills
        .documents {
            .documentsContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 50px 0;
                a {
                    display: flex; /* Active Flexbox */
                    flex-direction: column;
                    justify-content: center; /* Centre horizontalement */
                    align-items: center; /* Centre verticalement */
                    text-decoration: none;
                    color: var(--text-color);
                    background: none;
                    border: 2px solid $red;
                    height: 100px;
                    width: 320px;
                    border-radius: 10px;
                    transition: 0.3s ease;
                    text-align: center;
                    &:hover {
                        color: var(--hoverDocBtn-color);
                        cursor: pointer;
                        background-color: $red;
                        transform: scale(1.05);
                    }
                }
                #linked {
                    border: none;
                    padding: 0;
                    margin: 0;
                    transition: 0.3s ease;
                    font-size: 2rem;
                    &:hover {
                        background: none;
                        color: $white;
                        transform: scale(1.2);
                    }
                }
            } // documentsContainer
        } //documents
        .projets {
            max-width: 1200px;
            margin: auto;
            .projetsContainer {

                .cardContainer {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }
                .card {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 350px;
                    height: 350px;
                    border-radius: 10px;
                    position: relative;
                    display: flex;
                    padding: 15px;
                    overflow: hidden;
                
                    .info {
                        box-shadow: 0 0 1rem #0003;
                        align-items: center;
                        background: linear-gradient(0deg, #0006, $red);
                        border: 0;
                        bottom: 0;
                        display: flex;
                        flex-direction: column;
                        padding: 12px;
                        gap: 20px;
                        height: 100%;
                        justify-content: center;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        transform: translateY(100%); // Par défaut, masqué
                        transition: transform 0.5s ease-in-out; // Animation fluide
                        width: 100%;
                        color: $white;
                    }
                
                    &:hover .info {
                        transform: translateY(0); // Fait apparaître .info sur hover
                    }
                
                
                    .list-tag {
                        align-items: center;
                        bottom: 0;
                        display: flex;
                        gap: 5px;
                        height: auto;
                        justify-content: end;
                        overflow: hidden;
                        padding: 10px;
                        position: absolute;
                        right: 0;
                        white-space: nowrap;
                        z-index: 99;
                        

                        p {
                            background-color: $red;
                            padding: 5px;
                            margin: 2px;
                            border-radius: 8px;
                            color: $white;
                            i {
                                padding-right: 5px;
                            }
                        }        
                    }
                }
            }
        }
    } // homePageContainer
} //homePage