.homePage {
    .homePageContainer {
        text-align: justify;
        .header {
            max-width: 80%;
            margin: auto;
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;

            .logo {
                font-family: $font3;
                color: var(--text-color);
                span {
                    color: $red;
                }
            }
            #theme-switch {
                background: rgba(128, 128, 128, 0.33);
                border-radius: 50%;
                height: 50px;
                width: 50px;
                padding: 0;
                border: none;
                color: white;
                
                font-size: 1.8rem;
                cursor: pointer;
                i {
                    transition: 0.7s ease-in-out;
                    &:hover {
                        transform: rotateZ(360deg);
                    }
                }
            }
        }

        .about {
            margin: 20px auto;
            max-width: 65%;
            font-size: 1.1rem;
            .aboutContainer {
                .me {
                    text-align: center;
                    h2 {
                    text-align: center;
                    font-weight: 100;
                    }
                    .prenom {
                        margin: 10px 0 0 0;
                        font-size: 2.2rem;
                        font-weight: bold;
                    } // prenom
                    .title {
                        margin: 10px auto 30px;
                    }
                    span {
                        color: $red;
                    }
                } // me
                .info {
                    display: grid;
                    grid-template-columns: 50% 50%;

                    .text {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        font-size: 1.2rem;
                        
                        .line {
                            display: flex;
                            align-items: center;
                            img {
                                width: 10%;
                                margin-right: 20px;
                            }
                        }


                     a {  
                        margin: 0 auto;
                        align-self: flex-start;
                        font-weight: bold;
                        background-color: $red;
                        border: 2px solid $red;
                        padding: 15px 20px;
                        margin-bottom: 6px;
                        border-radius: 10px;
                        text-decoration: none;
                        color: $white;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            background: none;
                            transform: scale(1.1);
                        }
                     }
                    }
                    .imgDev {
                        img {
                            max-width: 80%;
                            margin-left: 20%;
                            border-radius: 10px;
                        }
                    } // img
                } // info
    
            } // aboutContainer
        } // about
        @keyframes float {
            0%, 100% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-10px);
            }
        }

        .parcours {
            max-width: 65%;
            margin: 0 auto;
            .parcoursContainer {
                position: relative;

                .title {
                    margin: 40px auto 80px auto;
                    text-align: center;
                    position: relative;

                    p {
                        font-size: 1.6rem;
                    }

                    .divider {
                        margin: 20px auto;
                        height: 4px;
                        width: 50px;
                        background: $red;
                        border-radius: 20px;
                    }
                }

                .timeline-lines {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    z-index: 0;

                    path {
                        stroke: #e63946;
                        stroke-width: 2;
                        fill: none;
                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;
                    }
                }
                .timeline {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 100px;
                    position: relative;
                    z-index: 1;

                    .card {
                        width: 320px;
                        background-color: #0003;
                        padding: 20px;
                        border-radius: 20px;
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                        animation: float 4s ease-in-out infinite;
                        position: relative;

                        .titre {
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;

                            h2 {
                                font-size: 1.3rem;
                                margin: 0;
                            }

                           
                        }

                        .divider {
                            margin: 10px 0;
                        }

                        a {
                            font-size: 0.9rem;
                            text-decoration: none;
                            color: $white;
                            background-color: $red;
                            padding: 10px 20px;
                            transform: scale(1);
                            border-radius: 8px;
                            transition: 0.2s;

                            &:hover {
                                background-color: darken($red, 10%);
                                transform: scale(2);
                            }
                        }

                        p {
                            margin: 15px 0;
                        }

                        &.left {
                            align-self: flex-start;
                            animation-delay: 0s;
                        }

                        &.right {
                            align-self: flex-end;
                            animation-delay: 1s;
                        }

                        &:nth-of-type(5) {
                            animation-delay: 2s;
                        }
                    }
                }
            }
        }
        .bts {
            max-width: 65%;
            margin: auto;
            .btsContainer {
                .bts {
                    text-align: justify;
                    .description {
                        
                        h3 {
                            padding-bottom: 10px;
                            font-size: 1.5rem;
                        }
                        p {
                            padding: 20px 0;
                    
                        }
                    }
                    .options {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        #slash {
                            color: $red;
                        }
                        .dividerdesc {
                            margin: 10px 0;
                            height: 3px;
                            width: 50px;
                            background: $red;
                            border-radius: 20px;
                        }
                        .slam {
                            padding: 0 0 0 10px;

                            &::after {
                                content: "";
                                background: $red;

                            }
                        }
                        .sisr {
                            padding: 0 10px 0 0;
                        }
                    }
                }
            }
        }
        .skills {
            max-width: 65%;
            margin: auto;

            .skillsContainer {
                display: grid;
                grid-template-columns: repeat(3, 1fr); /* Limite à trois colonnes */
                gap: 10px; /* Espace entre les cartes */
                text-align: center;
                font-size: 5rem;
                color: var(--text-color);

                .skillsElement {
                    position: relative;
                    &:hover {
                        border-radius: 10px;
                        background-color: var(--bgskills-color);
                    }
                    .text {
                        margin: 0 auto;
                        width: 90%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p {
                            margin-bottom: 25px;
                            font-size: 1rem;
                            color: var(--text-color);
                        }  
                    }
                    
                    .skillbar {
                        width: 90%;
                        height: 10px;
                        background-color: $white;
                        border-radius: 10px;
                        margin: 0 auto 10px;
                        .skillbarcolor{
                            height: 10px;
                            border-radius: 10px;
                            background-color: $red;
                        }
                    }
                } // skillsElement
            } // skillsContainer
        } // skills
        .documents {
            .documentsContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 50px 0;
                a {
                    display: flex; /* Active Flexbox */
                    flex-direction: column;
                    justify-content: center; /* Centre horizontalement */
                    align-items: center; /* Centre verticalement */
                    text-decoration: none;
                    color: var(--text-color);
                    background: none;
                    border: 2px solid $red;
                    height: 100px;
                    width: 320px;
                    border-radius: 10px;
                    transition: 0.3s ease;
                    text-align: center;
                    &:hover {
                        color: var(--hoverDocBtn-color);
                        cursor: pointer;
                        background-color: $red;
                        transform: scale(1.05);
                    }
                }
                #linked {
                    border: none;
                    padding: 0;
                    margin: 0;
                    transition: 0.3s ease;
                    font-size: 2rem;
                    &:hover {
                        background: none;
                        color: $white;
                        transform: scale(1.2);
                    }
                }
            } // documentsContainer
        } //documents
        .projets {
            max-width: 65%;
            margin: 0 auto;
            .projetsContainer {

                .cardContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                
                .card {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 80%;
                    height: 350px;
                    border-radius: 10px;
                    position: relative;
                    display: flex;
                    overflow: hidden;
                    margin: 0 10px;
                
                    .info {
                        box-shadow: 0 0 1rem #0003;
                        align-items: center;
                        background: linear-gradient(0deg, #0006, $red);
                        border: 0;
                        bottom: 0;
                        display: flex;
                        flex-direction: column;
                        padding: 12px;
                        gap: 20px;
                        height: 100%;
                        justify-content: center;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        transform: translateY(100%); // Par défaut, masqué
                        transition: transform 0.5s ease-in-out; // Animation fluide
                        width: 100%;
                        color: $white;
                    }
                
                    &:hover .info {
                        transform: translateY(0); // Fait apparaître .info sur hover
                    }
                
                
                    .list-tag {
                        align-items: center;
                        bottom: 0;
                        display: flex;
                        gap: 5px;
                        height: auto;
                        justify-content: end;
                        overflow: hidden;
                        padding: 10px;
                        position: absolute;
                        right: 0;
                        white-space: nowrap;
                        z-index: 99;
                        

                        p {
                            background-color: $red;
                            padding: 5px;
                            margin: 2px;
                            border-radius: 8px;
                            color: $white;
                            i {
                                padding-right: 5px;
                            }
                        }       
                    } 
                    }
                }
            }
        }
        .certification {
            max-width: 65%;
            margin: 0 auto;
            .certificationContainer {
                .certif {
                    display: flex;
                    align-items: center;      // Centre verticalement
                    justify-content: center;  // Centre horizontalement
                    gap: 30px;                // Espace entre les certificats
                    width: 100%;
                    min-height: 500px;        // S'assure que le centrage vertical fonctionne même si peu de contenu
                }
            }
        }
        .veille {
            max-width: 65%;
            margin: 30px auto;
            .veilleContainer {
                text-align: justify;
                .card {
                    max-width: 70%;
                    margin: 0 auto;
                    background: #0003;
                    padding: 20px 20px;
                    border-radius: 20px;

                    .name {
                        .who {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            h2 {
                                padding: 10px;
                                background-color: $red;
                                border-radius: 7px;
                                color: white;
                            }
                        }
                        a {
                            color: var(--text-color);
                            cursor:alias ;
                            position: relative;
                            
                            &::after {
                                position: absolute;
                                content: '';
                                width: 0%;
                                height: 2px;
                                background-color: var(--text-color);
                                border-radius: 20px;
                                bottom: -5px;
                                left: 0;
                                transition: 0.3s ease-in-out;
                            }
                            &:hover::after {
                                width: 100%;
                            }
                        }
                        .divider {
                            margin: 10px 0;
                        }
                    }
                    .text {
                        margin-top: 20px;
                    }
                }
            } // veilleContainer
        } // veille
    } // homePageContainer
} //homePage