:root{
    --base-color: rgba(255, 255, 255, 0.645);
    --text-color: #2a2a2a;
    --texthover-color: #686868; 
    --bgskills-color: #ededed;
    --hoverDocBtn-color: #ffffff; 
  }
  .darkmode{
    --base-color: #323232;
    --text-color: rgb(231, 231, 231);
    --texthover-color: #ffffff; 
    --bgskills-color: #535353;
    --hoverDocBtn-color: #323232; 
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "CodeFont";
    src: url(../assets/fonts/Code.otf);
}
@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Code";
    src: url(../assets/fonts/Code2.ttf);
}

#theme-switch i:last-child{
    display: none;
}
.darkmode #theme-switch i:first-child{
    display: none;
}
.darkmode #theme-switch i:last-child{
    display: block;
}

$font1: CodeFont,serif;
$font2: Poppins,serif;
$font3: Code,serif;

$white: #e0e0e0;
$red: rgb(142, 14, 31);

html {
    scroll-behavior: smooth;
}
body{
    transition: background-color 0.5s ease, color 0.5s ease;
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: $font2;
}

a {
    text-decoration: none;
    color: --text-color;
}
.btnAll {
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid $white; 
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: $white;
    transition: 0.3s ease;
    &:hover {
        background: $white;
        color: $red;
    }
}
.title {
    margin: 40px auto 30px auto;
    text-align: center;
    position: relative;
    p {
        font-size: 1.2rem;
    }
    .divider {
        margin: 10px auto;
        height: 4px;
        width: 50px;
        background: $red;
        border-radius: 20px;
    }
}
.divider {
    margin: 10px auto;
    height: 4px;
    width: 50px;
    background: $red;
    border-radius: 20px;
}