@charset "UTF-8";
:root {
  --base-color: rgba(255, 255, 255, 0.645);
  --text-color: #2a2a2a;
  --texthover-color: #686868;
  --bgskills-color: #ededed;
  --hoverDocBtn-color: #ffffff;
}

.darkmode {
  --base-color: #323232;
  --text-color: rgb(231, 231, 231);
  --texthover-color: #ffffff;
  --bgskills-color: #535353;
  --hoverDocBtn-color: #323232;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "CodeFont";
  src: url(../assets/fonts/Code.otf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Code";
  src: url(../assets/fonts/Code2.ttf);
}
#theme-switch i:last-child {
  display: none;
}

.darkmode #theme-switch i:first-child {
  display: none;
}

.darkmode #theme-switch i:last-child {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: Poppins, serif;
}

a {
  text-decoration: none;
  color: --text-color;
}

.btnAll {
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #e0e0e0;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #e0e0e0;
  transition: 0.3s ease;
}
.btnAll:hover {
  background: #e0e0e0;
  color: rgb(142, 14, 31);
}

.title {
  margin: 40px auto 30px auto;
  text-align: center;
  position: relative;
}
.title p {
  font-size: 1.2rem;
}
.title .divider {
  margin: 10px auto;
  height: 4px;
  width: 50px;
  background: rgb(142, 14, 31);
  border-radius: 20px;
}

.divider {
  margin: 10px auto;
  height: 4px;
  width: 50px;
  background: rgb(142, 14, 31);
  border-radius: 20px;
}

.homePage .homePageContainer .header {
  max-width: 80%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.homePage .homePageContainer .header .logo {
  font-family: Code, serif;
  color: var(--text-color);
}
.homePage .homePageContainer .header .logo span {
  color: rgb(142, 14, 31);
}
.homePage .homePageContainer .header #theme-switch {
  background: rgba(128, 128, 128, 0.33);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}
.homePage .homePageContainer .header #theme-switch i {
  transition: 0.7s ease-in-out;
}
.homePage .homePageContainer .header #theme-switch i:hover {
  transform: rotateZ(360deg);
}
.homePage .homePageContainer .about {
  margin: 20px auto;
  max-width: 65%;
  font-size: 1.3rem;
}
.homePage .homePageContainer .about .aboutContainer .me {
  text-align: center;
}
.homePage .homePageContainer .about .aboutContainer .me h2 {
  text-align: center;
  font-weight: 100;
}
.homePage .homePageContainer .about .aboutContainer .me .prenom {
  margin: 10px 0 0 0;
  font-size: 2.2rem;
  font-weight: bold;
}
.homePage .homePageContainer .about .aboutContainer .me .title {
  margin: 10px auto 30px;
}
.homePage .homePageContainer .about .aboutContainer .me span {
  color: rgb(142, 14, 31);
}
.homePage .homePageContainer .about .aboutContainer .info {
  display: grid;
  grid-template-columns: 50% 50%;
}
.homePage .homePageContainer .about .aboutContainer .info .text {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  font-size: 1.2rem;
  text-align: justify;
  margin: 10px;
}
.homePage .homePageContainer .about .aboutContainer .info .text a {
  font-weight: bold;
  background-color: rgb(142, 14, 31);
  border: 2px solid rgb(142, 14, 31);
  padding: 15px 20px;
  margin-bottom: 6px;
  border-radius: 10px;
  text-decoration: none;
  color: #e0e0e0;
  transition: 0.3s ease-in-out;
}
.homePage .homePageContainer .about .aboutContainer .info .text a:hover {
  background: none;
  transform: scale(1.1);
}
.homePage .homePageContainer .about .aboutContainer .info img {
  margin: 10px;
  width: 80%;
  border-radius: 10px;
}
.homePage .homePageContainer .about .aboutContainer .bts {
  text-align: justify;
}
.homePage .homePageContainer .about .aboutContainer .bts .description h3 {
  padding-bottom: 10px;
}
.homePage .homePageContainer .about .aboutContainer .bts .description p {
  padding: 20px 0;
}
.homePage .homePageContainer .about .aboutContainer .bts .options {
  display: grid;
  grid-template-columns: 50% 50%;
}
.homePage .homePageContainer .about .aboutContainer .bts .options #slash {
  color: rgb(142, 14, 31);
}
.homePage .homePageContainer .about .aboutContainer .bts .options .dividerdesc {
  margin: 10px 0;
  height: 3px;
  width: 50px;
  background: rgb(142, 14, 31);
  border-radius: 20px;
}
.homePage .homePageContainer .about .aboutContainer .bts .options .slam {
  padding: 0 0 0 10px;
}
.homePage .homePageContainer .about .aboutContainer .bts .options .slam::after {
  content: "";
  background: rgb(142, 14, 31);
}
.homePage .homePageContainer .about .aboutContainer .bts .options .sisr {
  padding: 0 10px 0 0;
}
.homePage .homePageContainer .skills {
  max-width: 65%;
  margin: auto;
}
.homePage .homePageContainer .skills .skillsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Limite à trois colonnes */
  gap: 10px; /* Espace entre les cartes */
  text-align: center;
  font-size: 5rem;
  color: var(--text-color);
}
.homePage .homePageContainer .skills .skillsContainer .skillsElement {
  position: relative;
}
.homePage .homePageContainer .skills .skillsContainer .skillsElement:hover {
  border-radius: 10px;
  background-color: var(--bgskills-color);
}
.homePage .homePageContainer .skills .skillsContainer .skillsElement .text {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homePage .homePageContainer .skills .skillsContainer .skillsElement .text p {
  margin-bottom: 25px;
  font-size: 1rem;
  color: var(--text-color);
}
.homePage .homePageContainer .skills .skillsContainer .skillsElement .skillbar {
  width: 90%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 0 auto 10px;
}
.homePage .homePageContainer .skills .skillsContainer .skillsElement .skillbar .skillbarcolor {
  height: 10px;
  border-radius: 10px;
  background-color: rgb(142, 14, 31);
}
.homePage .homePageContainer .documents .documentsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 50px 0;
}
.homePage .homePageContainer .documents .documentsContainer a {
  display: flex; /* Active Flexbox */
  flex-direction: column;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-decoration: none;
  color: var(--text-color);
  background: none;
  border: 2px solid rgb(142, 14, 31);
  height: 100px;
  width: 320px;
  border-radius: 10px;
  transition: 0.3s ease;
  text-align: center;
}
.homePage .homePageContainer .documents .documentsContainer a:hover {
  color: var(--hoverDocBtn-color);
  cursor: pointer;
  background-color: rgb(142, 14, 31);
  transform: scale(1.05);
}
.homePage .homePageContainer .documents .documentsContainer #linked {
  border: none;
  padding: 0;
  margin: 0;
  transition: 0.3s ease;
  font-size: 2rem;
}
.homePage .homePageContainer .documents .documentsContainer #linked:hover {
  background: none;
  color: #e0e0e0;
  transform: scale(1.2);
}
.homePage .homePageContainer .projets {
  max-width: 65%;
  margin: auto;
}
.homePage .homePageContainer .projets .projetsContainer .cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.homePage .homePageContainer .projets .projetsContainer .card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  position: relative;
  display: flex;
  padding: 15px;
  overflow: hidden;
}
.homePage .homePageContainer .projets .projetsContainer .card .info {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgb(142, 14, 31));
  border: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 20px;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  width: 100%;
  color: #e0e0e0;
}
.homePage .homePageContainer .projets .projetsContainer .card:hover .info {
  transform: translateY(0);
}
.homePage .homePageContainer .projets .projetsContainer .card .list-tag {
  align-items: center;
  bottom: 0;
  display: flex;
  gap: 5px;
  height: auto;
  justify-content: end;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 99;
}
.homePage .homePageContainer .projets .projetsContainer .card .list-tag p {
  background-color: rgb(142, 14, 31);
  padding: 5px;
  margin: 2px;
  border-radius: 8px;
  color: #e0e0e0;
}
.homePage .homePageContainer .projets .projetsContainer .card .list-tag p i {
  padding-right: 5px;
}
.homePage .homePageContainer .parcours {
  max-width: 65%;
  margin: 0 auto;
}
.homePage .homePageContainer .parcours .parcoursContainer {
  text-align: justify;
}

.navBar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  border-radius: 20px;
  padding: 15px;
  margin: 30px auto;
  background: linear-gradient(205deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
.navBar .navBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}
.navBar .navBarContainer a {
  transition: 0.2s ease-out;
  transform: scale(1);
  color: var(--text-color);
}
.navBar .navBarContainer a:hover {
  transform: scale(1.2);
  color: var(--texthover-color);
}

.footer {
  min-height: 150px;
  background-color: rgb(142, 14, 31);
  border-radius: 50px 50px 0 0;
  color: #e0e0e0;
}
.footer .footerContainer {
  max-width: 90%;
  margin: 0 auto;
}
.footer .footerContainer i {
  padding-right: 8px;
}
.footer .footerContainer .top {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 30px 0 30px 0;
}
.footer .footerContainer .top a {
  font-size: 1.5rem;
  padding-right: 200px;
  text-decoration: none;
  color: #e0e0e0;
}
.footer .footerContainer .top .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footerContainer .top .links a {
  font-size: 1rem;
  position: relative;
  margin: 0 20px;
  padding: 0;
  text-decoration: none;
  color: #e0e0e0;
}
.footer .footerContainer .top .links a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  border-radius: 20px;
  bottom: -5px;
  left: 0;
  transition: 0.3s ease-in-out;
}
.footer .footerContainer .top .links a:hover::after {
  width: 100%;
}
.footer .footerContainer .bottom {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footer .footerContainer .bottom p {
  margin-right: 150px;
}
.footer .footerContainer .bottom #linked {
  border: none;
  padding: 0;
  margin: 0;
  transition: 0.3s ease;
  font-size: 1.4rem;
}
.footer .footerContainer .bottom #linked:hover {
  background: none;
  color: #e0e0e0;
  transform: scale(1.2);
}
.footer .footerContainer .bottom a {
  position: relative;
  margin-right: 150px;
  text-decoration: none;
  color: #e0e0e0;
}
.footer .footerContainer .bottom a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  border-radius: 20px;
  bottom: -5px;
  left: 0;
  transition: 0.3s ease-in-out;
}
.footer .footerContainer .bottom a:hover::after {
  width: 100%;
}
.footer .footerContainer .copyright {
  padding: 30px 0 40px;
  max-width: 70%;
  margin: 0 auto;
}

.homePageEnchere .homePageEnchereContainer .header {
  max-width: 80%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.homePageEnchere .homePageEnchereContainer .header .logo {
  font-family: Code, serif;
  color: var(--text-color);
}
.homePageEnchere .homePageEnchereContainer .header .logo span {
  color: rgb(142, 14, 31);
}
.homePageEnchere .homePageEnchereContainer .header #theme-switch {
  background: rgba(128, 128, 128, 0.33);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}
.homePageEnchere .homePageEnchereContainer .header #theme-switch i {
  transition: 0.7s ease-in-out;
}
.homePageEnchere .homePageEnchereContainer .header #theme-switch i:hover {
  transform: rotateZ(360deg);
}
.homePageEnchere .homePageEnchereContainer .main {
  max-width: 1200px;
  margin: 0 auto;
}
.homePageEnchere .homePageEnchereContainer .main .mainContainer .top, .homePageEnchere .homePageEnchereContainer .main .mainContainer .bottom {
  display: grid;
  grid-template-columns: 60% 40%;
}
.homePageEnchere .homePageEnchereContainer .main .mainContainer .top .img-enchere, .homePageEnchere .homePageEnchereContainer .main .mainContainer .bottom .img-enchere {
  margin-right: 20px;
}
.homePageEnchere .homePageEnchereContainer .main .mainContainer .top .img-enchere img, .homePageEnchere .homePageEnchereContainer .main .mainContainer .bottom .img-enchere img {
  width: 100%;
  border-radius: 20px;
}
.homePageEnchere .homePageEnchereContainer .main .mainContainer .top .text, .homePageEnchere .homePageEnchereContainer .main .mainContainer .bottom .text {
  margin-left: 20px;
  text-align: justify;
}
.homePageEnchere .homePageEnchereContainer .main .mainContainer .bottom {
  grid-template-columns: 40% 60%;
  margin-top: 40px;
}
.homePageEnchere .homePageEnchereContainer .main .mainContainer .bottom .img-enchere {
  margin-left: 20px;
}
.homePageEnchere .homePageEnchereContainer .main .mainContainer .bottom .img-enchere img {
  width: 100%;
  border-radius: 20px;
}
.homePageEnchere .homePageEnchereContainer .main .mainContainer .bottom .text {
  margin-right: 20px;
  text-align: justify;
}/*# sourceMappingURL=index.css.map */